<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
crossorigin="anonymous"
/>


</head>
<body>

<form method="POST">
    <h3 align="center">Página de cadastramento</h3>
    <div class="form-group">
      <label for="celular">Celular</label>
      <input
        type="celular"
        class="form-control"
        id="celular"
        name="celular"
      />
    </div>
    <div class="form-group">
        <label for="name">Nome</label>
        <input
          type="name"
          class="form-control"
          id="name"
          name="name"

        />
    </div>
    

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  <div align="center">
  <a href="/"> Voltar  </a>
  </div>
  <div align="center">
    <a href="/cadastro"> Cadastro  </a>
    </div>
</body>